{
  "name": "${node_pkg}",
  "version": "${version}",
  "description": "A lightweight autonomous AI coding agent with terminal-based UI, inspired by Codex and Cline.",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/hcengineering/huly-coder.git"
  },
  "keywords": [
    "ai-agents",
    "rag",
    "agentic-ai",
    "rust"
  ],
  "author": "Konstantin Zaitsev <kos@hardcoreeng.com>",
  "license": "MIT",
  "bugs": {
    "url": "https://github.com/hcengineering/huly-coder/issues"
  },
  "homepage": "https://github.com/hcengineering/huly-coder?tab=readme-ov-file",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ],
  "publishConfig": {
    "access": "public"
  }
}